
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

html, body {
    font-size: 100%;
  	font-family: 'Karla', sans-serif;
    line-height: 1.6;
 	color: #314462;
    max-width: 100%;
    background-color: #FF5959;
    height:100%;
	}

::-moz-selection { background: #DBDBDB; }

::selection { background: #DBDBDB; }

a {	color: #0055FF; text-decoration: none; border-bottom: .24rem solid #0055FF; display: inline-block;	}

a:hover { color: #FFD100; text-decoration: none; border-bottom: .24rem solid #FFD100;	}


h1 { font-size:2.4rem; line-height: 1; font-weight: 700; letter-spacing: .024rem;}
h2 { font-size:1.28rem; line-height: .8; font-weight: 400; letter-spacing: .020rem;}
h3 { font-size: 1.6rem; line-height: .4; font-weight: 400; letter-spacing: .056rem; opacity: .4; text-transform: uppercase; }


/* 

Background Elements

 */

.wrapper{
	position:absolute;
	width:100%;
	margin: 0;
	padding-top: 0;
	overflow-x: hidden;
	top:0%;
	right:0%;
	left:0%;



}
.bg-red {
	position: absolute;
	top:200px;
	left:-180px;
	width:960px;


  	user-drag: none; 
  	user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;

	}

.bg-yellow {
	position: absolute;
	top:-300px;
	left:-320px;
	width:720px;


  	user-drag: none; 
  	user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;

	}

.bg-blue {
	position: absolute;
	right:-112px;
	top:-112px;
  	width: 880px;

  	user-drag: none; 
  	user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
	}

.bg-pink {
	position: absolute;
	right:-200px;
	top:600px;
  	width: 600px;

  	user-drag: none; 
  	user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
	}


.bg-blue-bottom {
	position: absolute;
	width:160%;
	overflow-x: none;
	left: 0;
	right: 0;
	bottom:0;
	align-content: flex-end;


  	user-drag: none; 
  	user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
	}


/*.footer {
	padding-top: 48px;
	margin-bottom: auto; 
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  overflow-x: none;
  height:400px;
  background-image: url("bg-blue-bottom.svg");

 }*/



/*

Navigational

*/


.nav{	margin-left: auto; margin-right:auto; padding: 12px; text-align: center; padding-top: 4px;}

ul {
	width: 240px; text-align: center; display: flex; margin-left: auto; margin-right: auto; justify-content: space-between}

li {display: inline; margin-right: 36px;}

li:first-child {margin-left:36px;}

a.navlink{color:white; border-bottom:.24rem solid rgba(255,255,255,0);}

a:hover.navlink{color:white; border-bottom:.24rem solid white;}





/*

Body 

*/


.section-heading{
	font-size:1.6rem;
	color:white;
	font-weight: 700;
	padding-top: 16px;
	padding-bottom: 16px;
	width:100%;
}


.container {
	z-index: 100;
	position:relative;
	display: flex;
	justify-content: space-between;
	max-width: 736px;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
	flex-direction: row;
  	min-height: 100vh;

}


.box-full{
	text-align:justify-all;
	background-color: white;
	box-shadow: 0px 8px rgba(27, 67, 133, 0.12);
	border-radius:12px;
	margin-bottom: 32px;
	width:100%;
}

.box-half{
	text-align:justify-all;
	background-color: white;
	box-shadow: 0px 8px rgba(27, 67, 133, 0.12), 0px 0px 0px 1px rgba(27, 67, 133, 0.12);
	border-radius:12px;
	width: 352px;
	margin-bottom: 40px;
}

.section-heading{
	font-size:1.6rem;
	color:white;
	font-weight: 700;
	padding-top: 16px;
	padding-bottom: 16px;
	width:100%;
}


.mini-hero{
	display: block;
	padding-top: 48px;
	margin-left: auto;
	margin-right: auto;
	width:144px;

  	user-drag: none; 
  	user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}


.intro{
	text-align:justify-all;
	margin-top: -44px;
	padding-bottom: 40px;
	padding-left: 64px;
	padding-right: 64px;

}

.contact{
	text-align:justify-all;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 64px;
	padding-right: 64px;
}


.project-thumb{
	width:100%;
	padding: 0px;
	max-height:240;
	border-radius: 12px 12px 0px 0px;
	user-drag: none; 
  	user-select: none;
  	-moz-user-select: none;
  	-webkit-user-drag: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}


.project-summary{
	padding-left: 24px;
	padding-bottom:16px;
	padding-right: 24px;

}









/*

Responsive

*/


@media (max-width: 820px) {


	.bg-pink {
	position: absolute;
	right:-200px;
	top:1160px;
  	width: 600px;
  	}
  	.bg-red {
	position: absolute;
	top:560px;
	left:-200px;
	width:960px;
	}


	.container {
	max-width: 92%
	justify-content:center;
		max-width: 92%;
		margin-right: auto;
		margin-left:auto;}


	.intro{
		margin-top: -44px;
		padding-bottom: 4%;
		padding-left: 8%;
		padding-right: 8%;
	}
	.contact{
		padding-top:0%;
		padding-bottom:4%;
		padding-left: 8%;
		padding-right: 8%;
	}

	.box-half{
		width:100%;
	}

	.project-summary{
		padding-bottom: 4%;
		padding-left: 8%;
		padding-right: 8%;
	}

}

